<ul class="list-group w-50 m-auto">
  <li class="list-group-item">Title: <%= @invoice.title %></li>
  <li class="list-group-item">Services: <%= @invoice.services %></li>
  <li class="list-group-item">Client: <%= @invoice.payer_name %></li>
  <li class="list-group-item">Email: <%= @invoice.payer_email %></li>
  <li class="list-group-item">Paid: <%= @invoice.paid %></li>
  <li class="list-group-item">Price: <%= @invoice.price %></li>
</ul>





