<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <%= render 'layouts/header.html.erb' %>
  <body>
    <%= yield %>
  </body>

  <footer>
    <%= render 'layouts/footer.html.erb' %>
  </footer>

</html>
